@{
    ViewData["Title"] = "Página Simulado";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model Estudante

<div class="text-center">

    <h1 class="display-4" id="MainText">Página Simulado</h1>

</div>