@{
    ViewData["Title"] = "Página Desempenho";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model Usuario

<div class="text-center">

    <h1 class="display-4" id="MainText">Página Desempenho</h1>

</div>
