@{
    ViewData["Title"] = "Cadastro Estudante";
}

<link rel="stylesheet" href="~/css/cadastro-page.css" />

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Cadastro de Estudante</h5>

                        <form asp-controller="Login" asp-action="Cadastrar" method="post" data-ajax="true" data-ajax-method="post"
                                  data-ajax-success="Sucesso" data-ajax-failure="Falha">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" name="nome" required autofocus>
                                <label for="floatingInputUsername">Nome</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com" name="email">
                                <label for="floatingInputEmail">Email</label>
                            </div>

                            <hr>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="senha" required>
                                <label for="floatingPassword">Senha</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password" name="confirmarSenha" required>
                                <label for="floatingPasswordConfirm">Confirmar Senha</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase button" type="submit">Cadastrar</button>
                            </div>

                            <p class="text-center link">Já possui uma conta? <a asp-controller="Login" asp-action="Index">Faça login</a></p>

                            <hr class="my-4">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
