@{
    ViewData["Title"] = "Página Inicial";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model Usuario

<div class="text-center">
    @if(!(Model.nome is null))
    {
        <h1 class="display-4" id="MainText">Olá @Model.nome</h1>
    }
    else
    {
        <h1 class="display-4" id="MainText">Olá</h1>
    }
</div>
